---
layout: default
---

{% assign unit_lessons = site.lessons | where: "unit", page.unit | sort: "order" %}

<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header id="main" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">
        {{ page.title }}
    </h1>
    
    {% if page.subtitle %}
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
  </header>

  <section class="post-content">
    <div class="tag-list">
      <a class="button" href="{{ site.baseurl }}/units">All Units</a>
    </div>
    <hr>
    {{ content }}
    <h1>Lessons in this Unit</h1>
    <ol>
    {% for lesson in unit_lessons %}
      <li><a href="{{ site.baseurl }}{{ lesson.url }}">{{ lesson.title }}</a></li>
    {% endfor %}
    </0l>
    <br>
  </section>
    
</article>
