---
layout: default
---

{% assign unit_lessons = site.lessons | where: "unit", page.unit | sort: "order" %}

<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header id="main" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">
        {{ page.order }}. {{ page.title }}
    </h1>
  </header>

  <section class="post-content">
    {{ content }}
    <h1>Lessons in this Unit</h1>
    {% for lesson in unit_lessons %}
      {% assign lines = lesson.content | newline_to_br | split: '<br />' %}
      <h2><a href="{{ site.baseurl }}{{ lesson.url }}">{{ page.order }}.{{ lesson.order }}. {{ lesson.title }}</a></h2>
      <span class="right"><code class="highlighter-rouge">{{ lesson.content | strip_html | size }}</code> pts</span>
      <p>{{ lines.first }}</p>
    {% endfor %}
    <hr>
    <div class="tag-list">
      <a class="button" href="{{ site.baseurl }}/units">Back to Units</a>
    </div>
    <br>
  </section>
    
</article>
